.whitebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    height: 54px;
    width: 250px;
    border-radius: 50px;
    font-size: 20px;
}

.whitebtn:hover{
    color: black;
}

.landingPage{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingpara{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.landing-btns{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.blackbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 54px;
    width: 250px;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
}

.blackbtn:hover{
    color: white;
}

/* about */
.about{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    /* background-color: aquamarine; */
}

.about-left{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: azure; */
}

.about-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.aboutleft-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutleft-h1{
    font-size: 85px;
}

.aboutpara{
    font-size: 20px;
}

.aboutbtn{
    width: 167px;
    height: 54px;
    margin-left: 0px;
}

.circlebtn{
    height: 54px;
    width: 54px;
    border-radius: 50px;
    margin-left: 15px;
}

.watchdemop{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

.signin{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    /* background-color: aquamarine; */
}

.signin-left{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.signinleft-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.signinleft-h1{
    font-size: 75px;
}

.signin-right{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.signinright-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signinright-h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.input-div{
    display: flex;
    flex-direction: column;
}

.signin-input{
    width: 489px;
    height: 82px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 50px;
}

.signin-btn{
    margin-left: 0px;
    height: 82px;
    width: 489px;
    margin-top: 30px;
}

.signup-input{
    width: 489px;
    height: 60px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 50px;
}

.signup-btn{
    margin-left: 0px;
    height: 60px;
    width: 489px;
    margin-top: 30px;
}

.sign-a{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.sign-a:hover{
    color: black;
}

/* features */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.features_h1{
    font-size: 75px;
    margin-top: 10px;
}

.featurescards-section{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    height: 80%;
    width: 90%;
}

.features-card{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200px;
    margin: 10px 0px;
    /* background-color: blue; */
    border-radius: 25px;
    border: 1px solid black;
    align-items: center;
    /* justify-content: center; */
}

.right-card{
    display: flex;
    margin-left: 40%;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    border-radius: 50px;
    width: 120px;
    height: 90px;
    background-color: #7B2ECC;
    margin-left: 15px;
}

.two{
    margin-left: 0px;
    margin-right: 10px;
    width: 200px;
}

.three{
    width: 100px;
}

.feature-p{
    font-size: 18px;
    margin-left: 10px;
}

/* footer  */
.footer{
    display: flex;
    flex-direction: row;
    height: 50vh;
    border-top: 2px solid #7B2ECC;
    /* background-color: red; */
}

.footer-section{
    display: flex;
    width: 100%;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* background-color: aqua; */
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: black;
}

.ourteam-h1{
    color: white;
    font-size: 50px;
}

.team-detail{
    display: flex;
    flex-direction: row;
    color: white;
}